<mat-card>
  <div>
    <h1 class="title">Countries</h1>
    <div fxLayoutAlign="center center">
      <ol>
        <li *ngFor="let item of modelList" (click)="onDisplayLanguagesSpokenByCountry(item.countryId)">
          <span fxFlex="33">{{item.countryName ? item.countryName : '-'}}</span><span fxFlex="33"
            class="align-right">{{item.countryArea ? item.countryArea : '-'}}</span>

          <span fxFlex="33" class="align-right">{{item.countryCode2 ? item.countryCode2 : '-'}}</span>
        </li>
      </ol>
    </div>
  </div>

  <div style="margin-top:25px" fxLayoutAlign="center center" class="footer">
    <app-paging [paging]="req.$paging" (emitPaging)="onChangePaging($event)"></app-paging>
  </div>
</mat-card>
