* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}

body {
  padding: 20px;
  margin: 20px;
  background-color: $backgroundColor;
  color: $secondaryColor;
}

ol {
  padding: 0;
  width: 50%;
  display: inline-block;
  color: $secondaryColor;
}

ol li {
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  width: 100%;
  thead {
    line-height: 3em;
    tr {
      color: $secondaryColor;
      opacity: 0.5;
    }
  }
  tbody {
    line-height: 4em;
    tr {
      text-align: center;
      color: white;
    }
  }
}

li:hover:not(.selected) {
  cursor: pointer;
  background-color: lighten($color: $selectionHoverColor, $amount: 2);
}

app-menu {
  display: flex;
  flex-direction: column;
  width: 100%;

  .content {
    padding: 16px;
    box-sizing: border-box;

    // add full height to all (usually custom) components under main-layout. first child is <router-outlet>
    > :last-child {
      height: 100%;
    }
  }
}
