// 1.0 Variables
$primaryColor: #1a1818;
$backgroundColor: #000000c9;
$secondaryColor: #ffff;

$borderColor: #293e68;
$borderHoverColor: #344d81;
$selectionHoverColor: #6183fd99;

$mat-menu: #3c3936;
$divider: #3b4350d2;
