table {
  width: 100%;
  thead {
    line-height: 3em;
    tr {

      color: $secondaryColor;
      opacity: 0.5;
    }
  }
  tbody {
    line-height: 4em;
    tr {
      text-align: center;
      color: white;
    }
  }
}
