<div class="module">

  <div class="topContainer">
    <nv-title [icon]="'nv-fa-random'" [label]="'databaseManager.manage.sic.titlePlural' | translate"></nv-title>
  </div>

  <div class="bottomContainer">

    <div class="row-card-margin card" fxFlex="70">

      <div class="header">

        <div class="title">

          <mat-icon class="nv-mi-format_list_bulleted"></mat-icon>
          <label>{{'databaseManager.manage.sic.titlePlural' | translate }}</label>
        </div>

        <span fxFlex></span>

        <div>
          <div class="header-actions">
            <button mat-icon-button (click)="onForm()">
              <mat-icon [matTooltip]="'common.buttons.create' | translate" class="nv-fa-plus"></mat-icon>
            </button>
          </div>
        </div>
      </div>

      <div class="filters">

        <div class="bar" (click)="filterOpened = !filterOpened">
          <label>{{ "common.buttons.filters" | translate}}</label>
          <mat-icon [ngClass]="filterOpened ? 'nv-fa-caret-up' : 'nv-fa-caret-down'"></mat-icon>
        </div>

        <div *ngIf="filterOpened" class="opened">

          <div class="col3">
            <label>{{'databaseManager.manage.sic.model.code' | translate }}</label>

            <mat-select [(ngModel)]="req.$code" panelClass="scroll">
              <mat-option>
                <ngx-mat-select-search [placeholderLabel]="'common.buttons.search' | translate" ngModel
                  [noEntriesFoundLabel]="'common.messages.noData' | translate"
                  (ngModelChange)=" filterCodeList($event)">
                </ngx-mat-select-search>
              </mat-option>
              <mat-option></mat-option>
              <mat-option *ngFor="let item of filteredCodeList" [value]="item.field">
                {{item.field}}
              </mat-option>
            </mat-select>

            <!-- <input (keyup.enter)="onSearch()" type="text" [(ngModel)]="req.$code" [matAutocomplete]="auto"
              (ngModelChange)="filterCodeList()">
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
              <mat-option *ngFor="let item of filteredCodeList" [value]="item.field">
                {{item.field}}
              </mat-option>
            </mat-autocomplete> -->
          </div>

          <div class="col3">
            <label>{{'databaseManager.manage.sic.model.real' | translate }}</label>
            <mat-select [(ngModel)]="req.$real" panelClass="scroll">
              <mat-option></mat-option>
              <mat-option [value]="true">{{ 'common.words.true' | translate }}</mat-option>
              <mat-option [value]="false">{{ 'common.words.false' | translate }}</mat-option>
            </mat-select>
          </div>

          <div class="col3">
            <label>{{'databaseManager.manage.sic.model.cryptoKeys' | translate }}</label>
            <mat-select [(ngModel)]="req.$cryptoKeyId" panelClass="scroll">
              <mat-option>
                <ngx-mat-select-search [placeholderLabel]="'common.buttons.search' | translate" ngModel
                  [noEntriesFoundLabel]="'common.messages.noData' | translate"
                  (ngModelChange)="filterCryptoKeyList($event)">
                </ngx-mat-select-search>
              </mat-option>
              <mat-option></mat-option>
              <mat-option *ngFor="let item of filteredCryptoKeyList" [value]="item.id">
                {{item.field}}
              </mat-option>
            </mat-select>
          </div>

          <div class="col3">
            <label>{{'databaseManager.manage.sic.model.description' | translate }}</label>
            <input (keyup.enter)="onSearch()" [(ngModel)]="req.$description" type="text">
          </div>

        </div>

        <div *ngIf="filterOpened" class="actions">
          <button class="success" mat-icon-button (click)="onSearch()">
            <mat-icon [matTooltip]="'common.buttons.search' | translate" class="nv-fa-search-plus"></mat-icon>
          </button>
          <button class="warning" mat-icon-button (click)="onReset()">
            <mat-icon [matTooltip]="'common.buttons.reset' | translate" class="nv-fa-refresh"></mat-icon>
          </button>
        </div>

      </div>

      <div class="card-table scroll">

        <div *ngIf="showSpinner" style="height: 100px;">
          <mat-progress-bar mode="query" class="progress-bar"></mat-progress-bar>
        </div>

        <div *ngIf="!showSpinner" class="table">

          <div class="header-group">

            <div class="head sticky center" [style.width.%]="5"></div>
            <div class="head sticky" [style.width.%]="20">
              <app-sorting [paging]="req.$paging" [label]="'Name'" [sortField]="'NAME'"
                (emitSorting)="onChangePaging($event)"></app-sorting>
            </div>

            <div class="head sticky center" [style.width.%]="15">
              <app-sorting [paging]="req.$paging" [label]="'Type'" [sortField]="'TYPE'"
                (emitSorting)="onChangePaging($event)"></app-sorting>
            </div>

            <div class="head sticky center" [style.width.%]="15">
              <app-sorting [paging]="req.$paging" [label]="'Upload Date'" [sortField]="'UPLOAD_DATE'"
                (emitSorting)="onChangePaging($event)"></app-sorting>
            </div>

            <div class="head sticky left" [style.width.%]="40">
              <app-sorting [paging]="req.$paging" [label]="'Assignee'" [sortField]="'USERNAME'"
                (emitSorting)="onChangePaging($event)"></app-sorting>
            </div>
          </div>

          <tr *ngIf="modelList.length == 0">
            <td colspan="10" class="no-data">
              {{ "common.messages.noData" | translate }}
            </td>
          </tr>

          <div class="row" *ngFor="let item of modelList" (click)="onSelectRow(item)"
            [ngClass]="selectedRow.id === item.id ? 'selected': ''">
            <div class="cell">
              <button mat-icon-button [matMenuTriggerFor]="ol">
                <mat-icon class="nv-mi-more_vert"></mat-icon>
              </button>
              <mat-menu #ol="matMenu">
                <button mat-menu-item (click)="onForm(item.id)">
                  <mat-icon class="nv-fa-edit"></mat-icon>
                  <span>{{'common.buttons.edit' | translate }}</span>
                </button>
                <button mat-menu-item (click)="onDelete(item.id)">
                  <mat-icon class="nv-mi-delete"></mat-icon>
                  <span>{{'common.buttons.delete' | translate }}</span>
                </button>
              </mat-menu>
            </div>
            <div class="cell">
              <span>{{item.code}}</span>
            </div>
            <div class="cell center">
              <mat-icon [matTooltip]="(item.real ? 'common.words.true' : 'common.words.false') | translate"
                [ngClass]="item.real ? 'nv-fa-check-circle success' : 'nv-fa-times-circle danger'"></mat-icon>
            </div>
            <div class="cell center">
              <span>{{item.cryptoKeyCode}}</span>
            </div>
            <div class="cell left">
              <span>{{item.description}}</span>
            </div>

          </div>
        </div>

      </div>

      <div class="footer">
        <nv-paging [paging]="req.$paging" (emitPaging)="onChangePaging($event)"></nv-paging>
      </div>

    </div>

    <div class="card" fxFlex="30">

      <div class="header">

        <div class="title">
          <mat-icon class="nv-mi-info_outline"></mat-icon>
          <label>{{'common.details' | translate }}</label>
        </div>

        <span fxFlex></span>

      </div>

      <div *ngIf="selectedRow" class="view scroll">

        <div class="row">
          <div class="label">
            <span>{{'databaseManager.manage.sic.model.code' | translate }}:</span>
          </div>
          <div class="data">
            <span>{{selectedRow.code}}</span>
          </div>
        </div>

        <div class="row">
          <div class="label">
            <span>{{'databaseManager.manage.sic.model.real' | translate }}:</span>
          </div>
          <div class="data">
            <mat-icon [matTooltip]="(selectedRow.real ? 'common.words.true' : 'common.words.false') | translate"
              [ngClass]="selectedRow.real ? 'nv-fa-check-circle success' : 'nv-fa-times-circle danger'"></mat-icon>
          </div>
        </div>

        <div class="row">
          <div class="label">
            <span>{{'databaseManager.manage.sic.model.cryptoKeys' | translate }}:</span>
          </div>
          <div class="data">
            <span>{{selectedRow.cryptoKeyCode}}</span>
          </div>
        </div>

        <div class="row">
          <div class="label">
            <span>{{'databaseManager.manage.sic.model.description' | translate }}:</span>
          </div>
          <div class="data">
            <span>{{selectedRow.description? selectedRow.description: '-'}}</span>
          </div>
        </div>

      </div>

      <div class="footer view scroll" *ngIf="selectedRow">
        <div class="row">
          <div class="label">
            <span>{{ 'common.entry.register' | translate}}: </span>
          </div>
          <div class="metadata">
            <span>{{ (selectedRow.creationDatetime | date: "dd/MM/yyyy HH:mm:ss" ) + ' (' + selectedRow.createdByName +
              ')'}}</span>
          </div>
        </div>

        <div class="row">
          <div class="label">
            <span>{{ 'common.entry.update' | translate}}:</span>
          </div>
          <div class="metadata">
            <span>{{selectedRow.lastUpdateDatetime ? ((selectedRow.lastUpdateDatetime | date: "dd/MM/yyyy HH:mm:ss") + '
              (' + selectedRow.lastUpdatedByName + ')') : '-'}}</span>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>
